<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="autodeskproj.InvokeBrowserTest"/>
      <class name="autodeskproj.VerifyCalculatorKeys"/>
      <class name="autodeskproj.VerifyOperations"/>
      <class name="autodeskproj.VerifyDecimalFunctionalty"/>
      <class name="autodeskproj.VerifyPedmasRule"/>
      <class name="autodeskproj.VerifyLargeInputs"/>
      <class name="autodeskproj.VerifyAC_CEFunctionality"/>
      <class name="autodeskproj.VerifyOperationsWithConsequtiveOperators"/>
      
      
      
 </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
